html,
body,
#app,
#app > div,
:root {
  height: 100%;
  background-color: rgb(23 23 23);
  color-scheme: dark;
  --primary-color: rgb(34, 211, 238);
  --secondary-color: rgb(219 39 119);
  --letter-color: white;
  --mark-color: rgb(216 180 254);
  --box-color: rgb(23 23 23);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
